# Exploratory Data Analysis
***

In [2]:
# Imports and environment 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 1. Overview

###### Load dataset:

In [25]:
df_train = pd.read_csv("../data/data_train.csv") # Train data
df_test = pd.read_csv("../data/data_test.csv") # Test data

### 1.1. Train Data

In [29]:
print(f"{('SHAPE')}\n{df_train.shape}")
print(f"\n{('NULL VALUES COUNT')}\n{df_train.isna().sum()}")
print(f"\n{('COLUMNS OVERVIEW')}")
print(df_train.info())

SHAPE
(202944, 25)

NULL VALUES COUNT
Id                      0
HighBP                  0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
Stroke                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
AnyHealthcare           0
NoDocbcCost             0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Sex                     0
Age                     0
Education               0
Income                  0
ExtraMedTest            0
ExtraAlcoholTest        0
Status                  0
dtype: int64

COLUMNS OVERVIEW
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202944 entries, 0 to 202943
Data columns (total 25 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Id                    202944 non-null  int64
 1   HighBP                202944 non-null  int64
 2   HighChol              202944 non-null  int64
 3   CholCheck             202944 non-null  int64
 4   BMI                   202944 non-null  int64
 5   Smoker                202944 non-null  int64
 6   Stroke                202944 non-null  int64
 7   HeartDiseaseorAttack  202944 non-null  int64
 8   PhysActivity          202944 non-null  int64
 9   Fruits                202944 non-null  int64
 10  Veggies               202944 non-null  int64
 11  HvyAlcoholConsump     202944 non-null  int64
 12  AnyHealthcare         202944 non-null  int64
 13  NoDocbcCost           202944 non-null  int64
 14  GenHlth               202944 non-null  int64
 15  MentHlth              202944 non-null  int64
 16  PhysHlth              202944 non-null  int64
 17  DiffWalk              202944 non-null  int64
 18  Sex                   202944 non-null  int64
 19  Age                   202944 non-null  int64
 20  Education             202944 non-null  int64
 21  Income                202944 non-null  int64
 22  ExtraMedTest          202944 non-null  int64
 23  ExtraAlcoholTest      202944 non-null  int64
 24  Status                202944 non-null  int64
dtypes: int64(25)
memory usage: 38.7 MB
None

In [30]:
df_train.describe()

,Id,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest,Status
count,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,...,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000,202944.000000
mean,101471.500000,0.428700,0.424344,0.962655,28.379824,0.442634,0.040844,0.094391,0.756302,0.635372,...,3.196971,4.256455,0.168707,0.439545,8.037449,5.050245,6.055641,-7.408660,-7.560041,0.175571
std,58585.030853,0.494891,0.494244,0.189607,6.612738,0.496700,0.197929,0.292372,0.429313,0.481327,...,7.427247,8.736665,0.374494,0.496333,3.051568,0.985601,2.070140,75.993743,75.927137,0.380455
min,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,-199.000000,-199.000000,0.000000
25%,50735.750000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000,-55.000000,-55.000000,0.000000
50%,101471.500000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000,0.000000,0.000000,0.000000
75%,152207.250000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000,40.000000,40.000000,0.000000
max,202943.000000,1.000000,1.000000,1.000000,98.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000,199.000000,199.000000,1.000000

In [31]:
df_train.head()

,Id,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest,Status
0,0,0,0,1,24,1,0,0,1,0,...,0,0,0,0,8,4,5,60,0,0
1,1,0,0,1,28,0,0,0,1,1,...,1,0,0,0,2,6,8,0,-64,0
2,2,0,0,1,36,1,0,0,1,1,...,30,30,1,0,3,2,1,-46,0,0
3,3,0,1,1,35,0,0,0,1,1,...,0,0,0,0,8,6,8,-83,-188,0
4,4,0,1,1,27,0,0,0,1,0,...,0,0,0,0,9,5,4,-58,0,0

### 1.2. Test Data

In [38]:
print(f"{('SHAPE')}\n{df_test.shape}")
print(f"\n{('NULL VALUES COUNT')}\n{df_test.isna().sum()}")
print(f"\n{('COLUMNS OVERVIEW')}")
print(df_test.info())

SHAPE
(50736, 25)

NULL VALUES COUNT
Id                          0
HighBP                      0
HighChol                    0
CholCheck                   0
BMI                         0
Smoker                      0
Stroke                      0
HeartDiseaseorAttack        0
PhysActivity                0
Fruits                      0
Veggies                     0
HvyAlcoholConsump           0
AnyHealthcare               0
NoDocbcCost                 0
GenHlth                     0
MentHlth                    0
PhysHlth                    0
DiffWalk                    0
Sex                         0
Age                         0
Education                   0
Income                      0
ExtraMedTest                0
ExtraAlcoholTest            0
Status                  50736
dtype: int64

COLUMNS OVERVIEW
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50736 entries, 0 to 50735
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    50736 non-null  int64
 1   HighBP                50736 non-null  int64
 2   HighChol              50736 non-null  int64
 3   CholCheck             50736 non-null  int64
 4   BMI                   50736 non-null  int64
 5   Smoker                50736 non-null  int64
 6   Stroke                50736 non-null  int64
 7   HeartDiseaseorAttack  50736 non-null  int64
 8   PhysActivity          50736 non-null  int64
 9   Fruits                50736 non-null  int64
 10  Veggies               50736 non-null  int64
 11  HvyAlcoholConsump     50736 non-null  int64
 12  AnyHealthcare         50736 non-null  int64
 13  NoDocbcCost           50736 non-null  int64
 14  GenHlth               50736 non-null  int64
 15  MentHlth              50736 non-null  int64
 16  PhysHlth              50736 non-null  int64
 17  DiffWalk              50736 non-null  int64
 18  Sex                   50736 non-null  int64
 19  Age                   50736 non-null  int64
 20  Education             50736 non-null  int64
 21  Income                50736 non-null  int64
 22  ExtraMedTest          50736 non-null  int64
 23  ExtraAlcoholTest      50736 non-null  int64
 24  Status                0 non-null      float64
dtypes: float64(1), int64(24)
memory usage: 9.7 MB
None

In [33]:
df_test.describe()

,Id,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest,Status
count,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,...,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,50736.000000,0.0
mean,228311.500000,0.430207,0.423230,0.962729,28.392522,0.445305,0.039479,0.093366,0.757509,0.629789,...,3.135978,4.184583,0.166292,0.443531,8.010801,5.051187,6.046811,-10.972189,-11.429202,NaN
std,14646.365966,0.495110,0.494076,0.189428,6.592550,0.497004,0.194733,0.290947,0.428594,0.482866,...,7.354835,8.642537,0.372346,0.496806,3.064743,0.986477,2.075180,74.323238,74.525657,NaN
min,202944.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,-199.000000,-199.000000,NaN
25%,215627.750000,0.000000,0.000000,1.000000,24.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,6.000000,4.000000,5.000000,-57.000000,-58.000000,NaN
50%,228311.500000,0.000000,0.000000,1.000000,27.000000,0.000000,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,8.000000,5.000000,7.000000,0.000000,0.000000,NaN
75%,240995.250000,1.000000,1.000000,1.000000,31.000000,1.000000,0.000000,0.000000,1.000000,1.000000,...,2.000000,3.000000,0.000000,1.000000,10.000000,6.000000,8.000000,33.000000,32.000000,NaN
max,253679.000000,1.000000,1.000000,1.000000,95.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,30.000000,30.000000,1.000000,1.000000,13.000000,6.000000,8.000000,199.000000,199.000000,NaN

In [34]:
df_test.head()

,Id,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income,ExtraMedTest,ExtraAlcoholTest,Status
0,202944,1,1,1,30,1,0,1,1,1,...,3,0,0,1,11,4,7,0,-145,NaN
1,202945,0,0,1,27,1,0,0,0,0,...,0,30,1,1,13,2,5,28,-145,NaN
2,202946,0,0,1,21,0,0,0,1,1,...,0,5,0,0,10,6,8,-26,72,NaN
3,202947,0,0,1,24,1,0,0,1,1,...,0,30,0,0,9,6,7,0,0,NaN
4,202948,1,0,1,34,0,0,0,1,1,...,0,1,1,0,11,4,7,-73,-63,NaN

| Features |  Data Type | Description | Range | Source
| :-- | :--: | :-- | :-- | :--:|
| HighBP | int64 | High blood preasure | -asdsad -asdasd -asdasd | asd
| HighChol | int64| High cholesterol | -asdsad -asdasd -asdasd | asd
| CholCheck | int64| Cholestero check in 5 years | -asdsad -asdasd -asdasd | asd
| BMI | int64| Body Mass Index | -asdsad -asdasd -asdasd | asd
| Smoker | int64| Have patients smoked at least 100 cigarettes in their entire life? (Note: 5 packs = 100 cigarettes) | -asdsad -asdasd -asdasd | asd
| Stroke | int64| Have patients ever they had a stroke? | -asdsad -asdasd -asdasd | asd
| HeartDiseaseorAttack | int64| coronary heart disease (CHD) or myocardial infarction (MI) | - Normal: 3.9 < `PRG` < 5.6<br/>- At risk of diabetes: 5.6 < `PRG` < 6.9<br/>- Diabetes 7.0 < `PRG` | asd
| PhysActivity | int64| Physical activity in past 30 days - not including jobs | -asdsad -asdasd -asdasd | asd
| Fruits | int64| Consume Fruit 1 or more times per day | -asdsad -asdasd -asdasd | asd
| Veggies | int64| Consume Vegetables 1 or more times per day | -asdsad -asdasd -asdasd | asd
| HvyAlcoholConsump | int64| Heavy drinkers (adult men having more than 14 drinks per week and adult women having more than 7 drinks per week)| -asdsad -asdasd -asdasd | asd
| AnyHealthcare | int64| Have any kind of health care coverage, including health insurance, prepaid plans such as HMO, etc. | -asdsad -asdasd -asdasd | asd
| NoDocbcCost | int64| Was there a time in the past 12 months when patient needed to see a doctor but could not because of cost? | -asdsad -asdasd -asdasd | asd
| GenHlth | int64| How patient said their health in general is | -asdsad -asdasd -asdasd | asd
| MentHlth | int64| Patients' Metal Health (stress, depression, and problems with emotions, for how many days during the past 30 days was their mental health not good? | -asdsad -asdasd -asdasd | asd
| PhysHlth | int64| Patients' Physical Health (physical illness and injury, for how many days during the past 30 days was their physical health not good?| -asdsad -asdasd -asdasd | asd
| DiffWalk | int64| Do patient have serious difficulty walking or climbing stairs? | -asdsad -asdasd -asdasd | asd
| Sex | int64| Patient's sex | -asdsad -asdasd -asdasd | asd
| Age | int64| Patient's age | -asdsad -asdasd -asdasd | asd
| Education | int64| Patient's Education level ($levels$) | -asdsad -asdasd -asdasd | asd
| Income | int64| Patient's income level ($levels$) | -asdsad -asdasd -asdasd | asd
| ExtraMedTest | int64| The result of an extra medical test ($range$) | -asdsad -asdasd -asdasd | asd
| ExtraAlcoholTest | int64| The result of an extra alcohol test ($range$) | -asdsad -asdasd -asdasd | asd